---
title: Frequently Asked Questions
meta:
  - name: description
  - content: Connecting Southeastern Ohio.
---

<details><summary>

## Do I need a really good surge protector?
</summary>

In short, yes! Most of the damage we see after storms is from surges coming in through the electrical system. TV's, wireless routers, computers, printers and yes, our radios can and frequently are ruined by surges coming in over AC power. You need a surge protector of at least 1750 Joules to do any good. We recommend 2100 Joules. At that level, they are not cheap. But it's is cheap insurance compared to replacing everything. And our Equipment Replacement plan no longer cover the replacement of radios that are damaged by surge that are not on at least a 1750 Joule protector. Many folks often mistake simple power strips for surge protectors. A good 1750 Joule protector will cost you $45 – $65 at Walmart. A $7.99 power strip will not do the job. New Era Broadband sells GOOD 2100 Joule GE and other brand surge protectors. Call our office at 740-992-0620 or ask our Field Technicians when they stop by.

</details>

<details><summary>

## Why can my neighbor down the street get faster speeds from New Era Broadband than I can?
</summary>

Boy, that's a good question! It's all about Radio Frequency (RF) Propagation. New Era Broadband operates in the same spectrum that many other operators are in, including more and more cell phone companies. 900MHz, 2400MHz, 3650MHz and 5800MHz. There is a range of channels in those areas we can operate in. This is referred to as "Unlicensed Spectrum". It is open free and clear for anybody to us. Now, "Unlicensed" does NOT mean unregulated. We have severe power limits we can operate with. Basically, around 1 Watt of power at the tower and 4/10 of a Watt at the home. Compare that with the radio station 700 WLW in Cincinnati that operates on 50,000 Watts. Yep! So our ability to penetrate dense trees or go over hills is very limited. Also, the lower the frequency, the better the ability to penetrate foliage, but the less the bandwidth you can push with it. That's why customers with a clear line of sight to the tower can get higher speeds than customers who have to shoot through a lot of trees. It's a function of the spectrum we can use. The good news is vendors are finding ways to dramatically up the throughput we can offer at lower frequencies, so we can still get through trees yet offer good bandwidth to customers. The drawback is that this gear is very expensive and we simply are not able to roll it out all at once.

</details>

<details><summary>

## Does New Era Broadband require anything special from me to connect my service.
</summary>

The main things we require are a sufficient spot to locate our radios, the ability to run our Ethernet cable in, and access to AC power once inside. We encourage customers to subscribe to our Equipment Replacement service. For $4.99/mo. we will make service calls and replace any gear that goes bad. Without this, service calls are $65 plus the cost of the equipment. One thing to note. We do require that you have surge protector that protects to 2100 Joules. If you do not have this, our equipment replacement will not cover damage from electrical surge. If you do not have a 2100 Joule surge protector, we can provide you one for a fee. It is well worth it!

</details>

<details><summary>

## What is the best way to make sure my game console, my Smart TV and my micro cell for my cell phone will attach to the Internet?
</summary>

A common practice with any Internet Service Provider is to us a network protocol called Network Address Translation or NAT. For someone just using the Internet with their laptop, NAT is something you never notice. However, if you game or use a Smart TV or cell phone micro cell, NAT can be a real issue. There are two options with New Era Broadband to overcome this. The first step is to go on our Managed Router plan (see more info here: (http://www.newerabroadband.com/router/). This will remove one layer of NAT and that is often enough to take care of the problem. We can go one step further if need be – you can lease a static public IP address for $25/mo. This makes your home network accessible from the outside world. Customers with home security cameras and special home equipment frequently go for this as it gives them easy access and removes and additional layer of NAT.

</details>

<details><summary>

## How involved is the process to get Internet to my house?
</summary>

It's not very involved at all. First, we do a signal strength check we call a "Site Survey." This is to be sure we can get a good solid signal to your location. Once we start the install, we mount a small radio on the outside of your home or business that talks to our tower. Then we run an Ethernet (network) cable inside where we get power and plug into your router. That's really the extent of it. There is some configuration of the equipment, but it's fairly non-intrusive.

</details>

<details><summary>

## If my speed slows down, does that mean New Era Broadband is throttling my speed?
</summary>

New Era Broadband does not cut back speeds below the level of the plan you are on. May things can and do affect your speed. Let's say, for this illustration, you have our Nitro plan. That delivers 6Mbps (megabytes per second) download and 1Mbps upload to your home. Now, if you have 4 people in the home, and they each have a phone, you have 4 users sharing the connection right there. Now add a Smart TV, two laptops and a game system, and boom! You can suck down 6Mbps without even trying. Especially if two are watching videos and one is gaming. When your plan calls for 6Mbps download, that is shared by all users. Let's add your daughter's friend in the mix with her phone, and you have at least 9 connections going. You can see how that can slow you down. Then, if any of the devices have viruses on them, that can mess everyone up by clogging your home network with useless traffic. And websites themselves can just be slow. Facebook regularly has issue where it won't load, or it loads slow, or videos won't load. Lots of things can go into you experiencing slowness on your Internet connection.

</details>

<details><summary>

## Can New Era Broadband see where I go on the Internet?
</summary>

That's a fair question! As a rule, we do not keep track of where our customers go on the Internet. We can, for troubleshooting, use tools that can see IP addresses that get visited by the account, but we do not know who is going where on that account. Again, this is just something we do, say, to help us troubleshoot slow connections. It allows us to see if there is a possible virus or if someone is streaming and sucking up all the home's bandwidth.

</details>

<details><summary>

## What is Included with a Managed Wireless Router?
</summary>

Our managed wireless router program is the best way to ensure peak performance of your New Era Broadband connection. For $5.99/mo. we will provide you a wireless WiFi router that is tuned to our system. Not only is tuned for optimum performance, but it also allows us to troubleshoot when things go wrong. And, as long as you have our managed router service, we'll replace the router free of charge if it ever goes bad. It's a great idea and many of our customers take advantage of it.

</details>

<details><summary>

## What is Digital Phone?
</summary>

Digital phone is VoIP (Voice over Internet Protocol) phone service that is transported via you Internet connection instead of the copper lines. You don't need your old phone company to use Digital (VoIP) phone.

New Era Broadband offers VoIP service. It includes unlimited local and long distance phone servcie, voice mail, caller id, three way conference calling, call forwarding (follow me) and more!

Just add $30/mo. to whatever plan you have and that's it. (requires our managed wireless router which is included in the monthly fee.)

</details>

<details><summary>

## How do I know if/when I can get New Era Broadband Service?
</summary>

There have been a lot of questions about who New Era Broadband can and cannot serve with our Point to Multi-Point wireless broadband service. If you are wondering if we can reach your location, first, we suggest you consult our Can I Get Internet Service link.

Fill in the requested information and submit. If your location lies in the green, there is a very good possibility that we can reach you. Then next question is, can you physically see the tower from the structure where you want the service installed. If the answer is yes, then it's a "slam dunk". We don't need to investigate any further. We can serve your location. But if the answer is no, that does NOT mean you cannot receive the service. It just means we'll need to take a closer look and even perhaps do a free signal strength (site survey) test at your location. Depending on signal strength, we'll determine which technology will best serve you. There have been rumors going around that you must be able to see the tower to receive our service. This is not true. Please call our Customer Support at (740) 992-0620 and we'll let you know if we can set you right up for service or if a site survey is required first.

Remember, that we are in a rapid expansion and upgrade time, and within a few months, we'll cover virtually the entire Meigs County Ohio area that currently does NOT have high speed services. Also, keep an eye out for our bright yard signs. They'll let you know that we're in your area!

We look forward to hearing from you!

</details>