<template>
  <div class="mt-5">
    <div class="slides" v-bind:style="{
      'background': 'url('+data.hero+') center center / cover no-repeat'
      }">
      <div class="slides-content container">
        <div class="row">
          <div class="col-12 col-md-9"><h2>{{ data.heroText.title }}</h2>
            <p>{{ data.heroText.text }}</p>
            <a :href="data.heroText.callToActionLink" class="btn btn-secondary button">{{ data.heroText.callToActionText }}</a>
          </div>
        </div>
      </div>
    </div>
    <Content custom/>
  </div>
</template>

<script>
import NavLink from './NavLink.vue'

export default {
  components: { NavLink },

  computed: {
    data () {
      return this.$page.frontmatter
    },

    actionLink () {
      return {
        link: this.data.actionLink,
        text: this.data.actionText
      }
    }
  }
}
</script>

<style lang="stylus">

</style>
