@require './config'
@require './nprogress'
@require './code'
@require './custom-blocks'
@require './arrow'
@require './wrapper'
@require './toc'
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

html, body
  padding 0
  margin 0

body
  font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

.page
  padding-left $sidebarWidth
  margin-top 100px
.button
  border-radius 3px
  padding 8px 22px
  margin-top 0.5em
  display inline-block
  color white
  background $accentColor
  box-shadow -2px 2px white
  font-size 1.5em

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color #fff
  box-sizing border-box
  border-bottom 1px solid $borderColor

.sidebar-mask
  position fixed
  z-index 9
  top 0
  left 0
  width 100vw
  height 100vh
  display none

.sidebar
  font-size 15px
  background-color #fff
  width $sidebarWidth
  position fixed
  z-index 10
  margin 0
  top $navbarHeight
  left 0
  bottom 0
  box-sizing border-box
  border-right 1px solid $borderColor
  overflow-y auto

footer.footer
  background: $textColor
  color white
  margin 0
  padding 2em
  a
    color white
  img
    width 300px
  ul
    list-style none
    padding 0
    li
      display inline
      &::after
        content '|'
      &:last-of-type::after
        content ''
      a
        padding 0 0.5em
.content
  // margin-top 90px !important

.btn-primary
  border-color #006f3c
  &:hover
    background #006f3c
    border-color #006f3c
  &:active
    background #006f3c
    border-color #006f3c
  &:focus
    background #006f3c
    border-color #006f3c
@media (min-width: 768px) {
  .card-wrapper {
    max-width 20%
    margin 0
  }
}
.content:not(.custom)
  @extend $wrapper
  > *:first-child
    margin-top $navbarHeight
  a:hover
    text-decoration underline
  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px
  img
    max-width 100%
.testimonial-img-wrapper {
  width: 80%;
  margin: 0 auto;
}
.testimonial-img {
  width: 100%;
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
.content.custom
  padding 0
  margin 0
  img
    max-width 100%
.slides
  width 100%
  min-height 350px
  padding 0
  padding-top 1em
  box-sizing border-box
  position relative
  &:before
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.85), rgba(0,0,0,0.85), rgba(0,0,0,0.3));
    opacity: .6; 
  .slides-content
    padding 2em
    color white
    position relative
    h2
      font-size 2.5em
      font-weight 700
      font-family 'Lato', sans-serif
    p
      font-size 1.25em
      font-weight 400
      font-family 'Lato', sans-serif

a
  font-weight 500
  color $accentColor
  text-decoration none

p a code
  font-weight 400
  color $accentColor

kbd
  background #eee
  border solid 0.15rem #ddd
  border-bottom solid 0.25rem #ddd
  border-radius 0.15rem
  padding 0 0.15em

blockquote
  font-size 1.2rem
  color #999
  border-left .25rem solid #dfe2e5
  margin-left 0
  padding-left 1rem

ul, ol
  padding-left 1.2em

strong
  font-weight 600

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.25
  .content:not(.custom) > &
    margin-top (0.5rem - $navbarHeight)
    padding-top ($navbarHeight + 1rem)
    margin-bottom 0
    &:first-child
      margin-top -1.5rem
      margin-bottom 1rem
      + p, + pre, + .custom-block
        margin-top 2rem
  &:hover .header-anchor
    opacity: 1

h1
  font-size 2.2rem

h2
  font-size 1.65rem
  padding-bottom .3rem
  // border-bottom 1px solid $borderColor
  display inline

h3
  font-size 1.35rem

summary
  margin: 1em 0;

.card
  color $textColor
  box-shadow 0px 3px 8px #a7d36c
  transition 0.3s
  background white
  transform scale(1)

.card:hover
  // color white
  // background $textColor
  box-shadow 0px 3px 20px #a7d36c
  transform scale(1.05)

.card-details
  height 110px

.coverage
  width 100%
  height 800px

.packages-background
  background #006f3c
  color white

a.header-anchor
  font-size 0.85em
  float left
  margin-left -0.87em
  padding-right 0.23em
  margin-top 0.125em
  opacity 0
  &:hover
    text-decoration none

code, kbd, .line-number
  font-family source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace

p, ul, ol
  line-height 1.7

hr
  border 0
  border-top 1px solid $borderColor

table
  border-collapse collapse
  margin 1rem 0
  display: block
  overflow-x: auto

tr
  border-top 1px solid #dfe2e5
  &:nth-child(2n)
    background-color #f6f8fa

th, td
  border 1px solid #dfe2e5
  padding .6em 1em

.custom-layout
  padding-top $navbarHeight

.theme-container
  &.sidebar-open
    .sidebar-mask
      display: block
  &.no-navbar
    .content:not(.custom) > h1, h2, h3, h4, h5, h6
        margin-top 1.5rem
        padding-top 0
    .sidebar
      top 0
    .custom-layout
      padding-top 0

.fancy {
  line-height: 2;
  text-align: center;
  position relative
  margin-bottom 1em
}
.fancy span {
  display: inline-block;
  position: relative;
  margin 0 10px
}
.fancy span .line-left {
  content: "";
  position: absolute;
  height: 0em;
  border-bottom: 1px solid white;
  // border-top: 1px solid white;
  top: 1em;
  width: 75%;
  left -100%
}
.fancy span .line-right {
  content: "";
  position: absolute;
  height: 0em;
  border-bottom: 1px solid white;
  // border-top: 1px solid white;
  top: 1em;
  width: 75%;
}
.line-down::before {
  content: "";
  position: absolute;
  height: 1em;
  border-left: 1px solid #fff;
  bottom: 0;
  top: 1.75em;
  text-align: center;
  left: 50%;
}
.fancy span .line-left:before,
.fancy span .line-right:after {
  content: "";
  position: absolute;
  height: 1.5em;
  border-right: 1px solid white;
  // border-top: 1px solid white;
  top: 0;
  width 0
}
.fancy span:before {
  right: 100%;
}
.fancy span:after {
  left: 100%;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.header-anchor {display: none;}

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page
      padding-left 0
    .phone-card
      min-height 330px
    .phone-card2
      min-height 220px
    .slides
      padding 4em

@require './mobile.styl'
